/* Journey to the Center of the Earth Practicum */
/* Gavin Corley */

/* header */
/* https://imagecolorpicker.com */

header {

    text-align: center;
    font-size: 100%;
    border: inset #765729 8px;
    box-shadow: inset rgba(0, 0, 0, .25);
    color: white;
    background-image: url(/img/cave.jpg);
    background-size: 100%;
    margin: -2px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .25);
}

h2 {

    font-size: 25pt;
    border-bottom: dotted;
    margin: 30px;
}
/* nav */

nav {

    text-align: center;
    border: #765729 inset 8px;
    margin: -2px;
    box-shadow: inset rgba(0, 0, 0, .25);
}
nav li {
    padding: 10px;
    display: inline-block;
    border-right: #765729 4px double;
}
nav li:last-child {
    border: none;
}
nav a:link {
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: #a52a2a;
    text-decoration: underline;
}
nav a:active {
    color: black;
    text-decoration: none;
}
nav a:visited {
    color: #a52a2a;
    text-decoration: underline;
}

/* book cover */
/* https://stackoverflow.com/questions/19179424/how-to-wrap-text-around-an-image-using-html-css */

#cover {

    float: left;
   /* margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 8px; */
    padding: 20px;
    height: 300px;
}
/* body */

p:first-of-type::first-line {
    font-size: 18pt;
}
body {

    background-color: #cdcac5;
    border: #765729 inset 8px;
    margin: 0px;
    font-size: 14pt;
}
body p {

    margin: 10px;

}
:lang(fr), :lang(is), :lang(it), :lang(id) {
    font-style: italic;
}
#cryptogram {

    max-width: 100%;
    text-align: center;
}
#cryptogram img {
    max-width: 100%;
}
figcaption {
    font-style: italic;
}
.character {

    font-weight: bold;

}

aside {

    border: #765729 inset 8px;
    margin: -2px;

}
.submission {

    border: black solid 4px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    font-size: 20pt;
}
.signature {

    text-align: right;
    font-style: italic;
}
footer {

    border: #765729 inset 8px;
    margin: -2px;
    text-align: center;
}
footer a:link {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: #a52a2a;
    text-decoration: underline;
}
footer a:active {
    color: black;
    text-decoration: none;
}
footer a:visited {
    color: #a52a2a;
    text-decoration: underline;
}