/* Journey to the Center of the Earth Practicum */
/* Gavin Corley */

/* header */
/* https://imagecolorpicker.com */

header {

    text-align: center;
    font-size: 100%;
    border: inset #765729 8px;
    box-shadow: inset rgba(0, 0, 0, .25);
    color: white;
    background-image: url(/img/cave.jpg);
    background-size: 100%;
    margin: -2px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .25);
}

h2 {

    font-size: 25pt;
    border-bottom: dotted;
    margin: 30px;
}
/* nav */

nav {

    text-align: center;
    border: #765729 inset 10px;
    margin: -2px;
    box-shadow: inset rgba(0, 0, 0, .25);
}

/* book cover */
/* https://stackoverflow.com/questions/19179424/how-to-wrap-text-around-an-image-using-html-css */

#cover {

    float: left;
    
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
    width:50%;
    max-width: 100%;
}
#cover img {

    max-width: 100%;
}
/* body */

body {

    background-color: #cdcac5;
    border: #765729 inset 10px;
    margin: 0px;
    font-size: 14pt;
}
body p {

    margin: 10px;

}
#cryptogram {

    max-width: 100%;
    text-align: center;
}
#cryptogram img {
    max-width: 100%;
}
figcaption {
    font-style: italic;
}
.character {

    font-weight: bold;

}

aside {

    border: #765729 inset 10px;
    margin: -2px;

}
.submission {

    border: black solid 4px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    font-size: 20pt;
}
.signature {

    text-align: right;
    font-style: italic;
}